body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-user-select: none;
    user-select: none;
}
body {
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
}
